.ui_window {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: transparent;
    background-image: linear-gradient(0,transparent,#33bcbb3f);
    border-top: 1px solid #555;
    border-left: 1px solid #555;
    padding: 3px;
    box-shadow: 1px 0 #000,0 1px #000,1px 1px #000,inset 1px 1px #fff,0 0 20px -1px #0000009f;
    backdrop-filter: blur(4px)
}

.ui_window__head {
    background: none !important;
    color: black;
    margin-bottom: 3px;
    text-shadow: 0 0 6px #fff
}

.ui_menu_trigger {
    text-shadow: 0 0 6px #fff
}

.ui_window__head__title {
    line-height: 17px
}

.ui_window__head button {
    margin-left: 15px;
    background: none;
    border: none;
    box-shadow: none;
    top: 2px;
    right: 5px;
    color: white;
    text-shadow: -1px -1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}

.ui_window__head button:active {
    border: none !important;
    box-shadow: none !important;
    text-shadow: -1px -1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
    color: #ddd
}

.ui_explorer__selected_file {
    background-color: silver !important;
}

.ui_window__body {
    margin-right: -1px;
}

.ui_explorer__nav {
    margin-left: 1px;
    margin-right: -2px;
}

.ui_menu .ui_menu__submenu {
    top: revert !important;
    left: revert !important;
}

.ui_explorer--workspace > .ui_icon {
	text-shadow: -1px -1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000, 1px 0px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 0 1px 0 #000, 1px 0 0 #000 !important;
}

#s42_taskbar {
    background-color: transparent;
    background-image: linear-gradient(0,transparent,#33bcbb3f);
    backdrop-filter: blur(3px);
    border: none;
    box-shadow: inset 0px 1px #dfdfdf,1px 0 #000,0 1px #000,1px 1px #000;
    border-top: 1px solid #666;
    height: 40px;
}

#s42_taskbar #s42_notif {
    background-color: transparent;
    align-items: center;
    border: none;
    box-shadow: none;
    margin-right: -7px;
}

#s42_taskbar * {
    text-shadow: 0 0 6px #fff, 0 0 20px #fff;
}

#s42_clock {
    font-size: 12px;
    line-height: 15px;
    margin-left: 10px;
}

#s42_start {
    border: none;
    box-shadow: none;
    background-color: transparent;
    height: 100%;
    align-items: center;
    color: black;
}

#s42_start:active {
    filter: brightness(0.7)
}

#s42_dock {
    align-items: center;
}

#s42_dock button {
    background-color: transparent;
    background-image: radial-gradient(farthest-corner at -50px 1px, #ffffffc7 0%, #00000000 100%);
    border: 1px solid #dfdfdf;
    box-shadow: 1px 0 #0000007f,0 1px #0000007f;
    border-radius: 6px;
    min-width: 32px;
    max-width: 32px;
    min-height: 30px;
    max-height: 30px;
    font-size: 0px;
}

#s42_dock button > img {
    left: 1px;
    position: relative;
}

.ui_window_docked.pressed {
    background-image: radial-gradient(farthest-corner at 1px 1px, #ffffffcf 0%, #00000000 100%) !important;
    background-color: #ffffff3c !important;
}

.ui_window_docked--minimized, .ui_window_docked--minimized.pressed {
    background-color: transparent !important;
    background-image: radial-gradient(farthest-corner at -50px 1px, #0000007f 0%, #00000000 100%) !important;
    border: 1px solid transparent !important;
    border-top: none !important;
    border-left: none !important;
    box-shadow: -1px 0 #0000007f,0 -1px #0000007f !important;
}

#s42_dock button:active {
    background-color: transparent;
    background-image: radial-gradient(farthest-corner at -50px 1px, #ffffffc7 0%, #00000000 100%);
    border: 1px solid #dfdfdf;
    box-shadow: -1px 0 #0000007f,0 -1px #0000007f;
    border-radius: 6px;
    min-width: 32px;
    max-width: 32px;
    min-height: 30px;
    max-height: 30px;
    font-size: 0px;
}
