::selection {
	background: #ffd799;
}

.ui_icon span {
	padding: 3px 4px !important;
	border-radius: 6px;
}

.ui_selected span {
	padding: 3px 4px !important;
	background: #ffd799 !important;
	color: #000 !important;
	border-radius: 6px;
}

.ui_explorer--details > .ui_icon--focus > span, .ui_explorer--column > .ui_icon--focus > span, .ui_explorer--list > .ui_icon--focus > span, .ui_explorer--workspace > .ui_icon--focus > span, .ui_explorer--workspace--full > .ui_icon--focus > span, .ui_explorer--icons > .ui_icon--focus > span, .ui_explorer--details > .ui_icon:focus > span, .ui_explorer--column > .ui_icon:focus > span, .ui_explorer--list > .ui_icon:focus > span, .ui_explorer--workspace > .ui_icon:focus > span, .ui_explorer--workspace--full > .ui_icon:focus > span, .ui_explorer--icons > .ui_icon:focus > span {
	outline: none;
}

.ui_selected img {
	filter: brightness(0.6) sepia(100%) hue-rotate(10deg) saturate(6) !important;
}

.ui_select_box {
	border: 1px solid #ffd799 !important;
	background: #ffd7992f !important;
}

#s42_background {
	background: url(https://oswallpapers.com/wp-content/uploads/2016/07/warty-final-ubuntu-3.jpg?v=2);
	background-size: cover;
}

.ui_explorer__nav button, .btn, button:not(.unstyled), input[type="reset"], input[type="submit"], input[type="button"] {
	border: 1px solid #736a60 !important;
	box-shadow: none !important;
	border-radius: 3px;
	background: linear-gradient(to bottom, #f8f6f5 0%, #f2efec 49%, #ebe6e1 50%, #efebe8 100%);
}

.btn, button:not(.unstyled), input[type="reset"], input[type="submit"], input[type="button"] {
	height: 24px;
	box-shadow: 0 0 1px 0px #0000003f !important;
}

.ui_window__buttons {
	padding: 0 8px;
	text-align: right !important;
}

.ui_window__buttons button {
	height: 28px;
	width: 70px;
}

.btn:hover, button:not(.unstyled):hover, input[type="reset"]:hover, input[type="submit"]:hover, input[type="button"]:hover {
	border: 1px #8f4b1e solid !important;
	box-shadow: 0 0 0px 1px #e6a070 !important;
	background: linear-gradient(to bottom, #fefefe 0%, #f8f7f5 49%, #f1eeea 50%, #f5f3f0 100%);
}

.btn:focus, button:not(.unstyled):focus, input[type="reset"]:focus, input[type="submit"]:focus, input[type="button"]:focus {
	border: 1px #8f4b1e solid !important;
	box-shadow: inset 0 -1px 0 1px #ff7519, inset 0 0 0 2px #ffb17c !important;
	outline-offset: -4px;
	background: linear-gradient(to bottom, #f8f6f5 0%, #f2efec 49%, #ebe6e1 50%, #efebe8 100%);
}

.btn:focus:hover, button:not(.unstyled):focus:hover, input[type="reset"]:focus:hover, input[type="submit"]:focus:hover, input[type="button"]:focus:hover {
	border: 1px #8f4b1e solid !important;
	box-shadow: inset 0 -1px 0 1px #ff7519, inset 0 0 0 2px #ffb17c, 0 0 0px 1px #e6a070 !important;
	outline-offset: -4px;
	background: linear-gradient(to bottom, #fefefe 0%, #f8f7f5 49%, #f1eeea 50%, #f5f3f0 100%);
}

.btn:active, button:not(.unstyled):active, input[type="reset"]:active, input[type="submit"]:active, input[type="button"]:active {
	border: 1px #8f4b1e solid !important;
	box-shadow: inset 0 1px 2px 0 #ccc7c2 !important;
	background: linear-gradient(to bottom, #e0dbd5 0%, #dcd7d0 49%, #d5cec7 50%, #d8d3cc 100%);
}

.ui_explorer__nav input, input:not([type="checkbox"]):not([type="radio"]):not([type="range"]), select, textarea:not(.ui_terminal), .ui_alert--help .ui_alert__text {
	border: 1px solid #81756a !important;
	border-radius: 3px;
	box-shadow: inset 0 1px 1px 0 #0000003f !important;
}

input:not([type="checkbox"]):not([type="radio"]):not([type="range"]):focus, select:focus, textarea:not(.ui_terminal):focus, .ui_alert--help .ui_alert__text:focus {
	border: 1px solid #8f4b1e !important;
	box-shadow: inset 0 0 0 1px #e6a070 !important;
	outline: none;
}

.ui_terminal > code > div > textarea, .ui_terminal > code > div > textarea:focus {
	box-shadow: none !important;
	border: none !important;
	border-radius: none !important;
}

.ui_window {
	box-shadow: 0 0 0 1px #3d3a38;
	border-radius: 7px 7px 0 0;
	padding-left: 2px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #d8cfc7;
	border-right: 1px solid #d8cfc7;
	border-top: 1px solid #fff;
	background: linear-gradient(to bottom, #f8f6f3 0%, #efebe7 100%)
}

.ui_window__head {
	margin: -4px -3px 3px -3px;
	border-radius: 7px 7px 0 0;
	height: 23px;
	padding: 2px 2px 0 6px;
	align-items: center;
	background: none;
}

.ui_window--active {
	background: #efebe7;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #d8cfc7;
	border-right: 1px solid #d8cfc7;
	border-top: 1px solid #61492f;
}

.ui_window--active .ui_window__head {
	background: linear-gradient(to bottom, #e8aa6a 0%, #d18c46 49%, #c8823a 50%, #d38e48 100%);
	box-shadow: inset 0 0 0 1px #0000001f;
	border-bottom: 1px solid #835d37;
	border-top: 1px solid #f2c99f;
}

.ui_window__head__title {
	text-align: center;
	font-weight: bold;
	letter-spacing: 1px;
	color: #3c3c3b;
}

.ui_window--active .ui_window__head__title {
	text-align: center;
	font-weight: bold;
	letter-spacing: 1px;
	text-shadow: 1px 1px 0 #413528, 2px 2px 0 #8f6438;
	color: white;
}

.ui_window__head__icon {
	transform: translateY(-1px)
}

.ui_window__head button {
	margin: 0 1px;
	height: 18px;
	width: 24px;
	box-shadow: inset 0 0 0 1px #ffffff5f !important;
	border-radius: 3px;
	border: 1px solid #84817f !important;
	background: linear-gradient(to bottom, #fdfcfc 0%, #ede9e5 100%);
	transform: translate(-1px, -2px);
}

.ui_window__head button:hover {
	border: 1px solid #84817f !important;
	background: linear-gradient(to bottom, #fff 0%, #f9f7f5 49%, #f9f7f5 50%, #fefefd 100%);
	box-shadow: inset 0 0 0 1px #ffffff5f !important;
}

.ui_window__head button:active {
	border: 1px solid #898786 !important;
	background: linear-gradient(to bottom, #bdb2a6 0%, #bcb0a5 49%, #b8ac9f 50%, #baaea2 100%);
	box-shadow: inset 0 0 0 1px #d4cdc5 !important;
}

.ui_window--active .ui_window__head button {
	border: 1px solid #6b461f !important;
	background: linear-gradient(to bottom, #e9ae70 0%, #c98540 49%, #b77939 50%, #bf7c38 100%);
}

.ui_window--active .ui_window__head button:hover {
	border: 1px solid #6f4821 !important;
	background: linear-gradient(to bottom, #f1bb83 0%, #d6934d 49%, #c47f38 50%, #cd8840 100%);
}

.ui_window--active .ui_window__head button:active {
	border: 1px solid #7f5c38 !important;
	background: linear-gradient(to bottom, #d49350 0%, #986a3b 49%, #835d37 50%, #8a6137 100%);
	box-shadow: inset 0 0 0 1px #d4cdc57f !important;
}

.ui_window__head button::before {
	transform: translate(5px,2px);
	color: #fff;
	text-shadow: -1px 1px 0 #6f4922, 1px -1px 0 #6f4922, 1px 1px 0 #6f4922, -1px -1px 0 #6f4922;
	filter: grayscale(100%) invert(75%)
}

.ui_window--active .ui_window__head button::before {
	filter: none;
}

.ui_window__head__close::before {
	content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAA8UlEQVQY03WQMUsCARiGn+9wabybmjSMuMnh/Ae3pYmguAhO/QJxValwFtwaHBv8AZGO/YNOcDOC3BrMhpDj9M6vyUO7esbne3n5eOXx9pLZ+5cC1N1z4YDR85sC5M5ModdwdE+v4eh8WGU+rCZ8Kgq3cUPn4YW7ek4Bbkaz2EfhFry+S7dm6390a7Z6fRcjDHzKeVPalSy/aVeylPOmhIFP6vN7A8A6iBLBdRCxvxvCjsl0qYPxIhEcjBdMpksVdtAspI9+ahbS+pczDodrFTOUHEtKjiWtYib2Asj9tc3rh68AV451NPiTt1KAi9MT+QGqupz0MNEpRQAAAABJRU5ErkJggg==);
	transform: translate(6px, 1px) !important;
}

.ui_window__head__maximize::before {
	content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAh0lEQVQY02NsSzD/z0AEYPn75xdDzeJzeBW1xBoxMP3985ugaX///GZggSmsC9XAqqhp9Q2Ywl9QXb8YAs3EGZEVrT/18j9MjuXrz78MDAwMDF9//mV4+/kXimnIcizIEowM/3D7mhGuiIFh+4V3/1E1Imi4wv5tD3GaxsjAwMBY5CVHVIADAPjtOteinbdcAAAAAElFTkSuQmCC);
	transform: translate(6px, 1px) !important;
}

.ui_window__head__minimize::before {
	content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAECAYAAAC3OK7NAAAALElEQVQI12PM95T7z0AEYGFkYGDo3/YQr6JCL3kGJkYiTGNkYGBgLPIizmoAtlkGujGaTjEAAAAASUVORK5CYII=);
	transform: translate(6px, 1px) !important;
}
